@(theForm: Form[_], formKey: String, label: String, helperText: String = null, width: Integer=300, additionalOptions: Html = Html.apply(""))

@import metronic._

<link type="text/css" rel="stylesheet" href="/moxiemanager/skins/lightgray/skin.min.css" />

@helper.input(
    theForm(formKey),
    'id -> formKey,
    'name -> formKey,
    'class -> "form-control",
    '_label -> label,
    'placeholder -> ""
) { (id, name, value, args) =>
    <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: @{width}px;display:inline;" />
	<a class="btn btn-primary moxman-btn-browse" data-input_id="@id" href="#"> Browse </a>
	@if(helperText != null){
		<span class="help-block">@helperText</span>
	}
    @if(!value.isEmpty && (value.get.toLowerCase.endsWith(".png") || value.get.toLowerCase.endsWith(".gif") || value.get.toLowerCase.endsWith(".jpg") || value.get.toLowerCase.endsWith(".jpeg")) &&  !value.get.startsWith("/onki_covers/")) {
        <span class="help-block">
            <img style="max-width: 550px;" src="@value" alt="Vorschau" title="Vorschau" />
        </span>
    }
}
