@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._

@**************************************************
* Generate input according to metronic's rules    *
**************************************************@

<div class="form-group @if(elements.hasErrors) {has-error}">
    <label for="@elements.id" class="col-md-3 control-label">@elements.label</label>
    <div class="col-md-6">
        @elements.input
        @if(elements.errors.size > 0) {
            <span class="help-block">@elements.errors.mkString(", ")</span>
        }
    </div>
</div>